---
import BaseLayout from '@/layouts/BaseLayout.astro';

export const prerender = true;

const ascii = `
    ___    _______     ___   
   /   )  (  __   )   /   )  
  / /) |  | (  )  |  / /) |  
 / (_) (_ | | /   | / (_) (_ 
(____   _)| (/ /) |(____   _)
     ) (  |   / | |     ) (  
     | |  |  (__) |     | |  
     (_)  (_______)     (_) `;
---

<BaseLayout>
  <pre
    class="flex h-full flex-col items-center justify-center space-y-5 whitespace-pre-wrap">
      <code class='text-[1.4dvh] leading-[0.9] tracking-[-0.1em]'>{ascii}</code>
      <code class='text-center'>
        <span>Page not found</span>
        <span>Sorry, the page you are looking for could not be found.</span>
      </code>
    </pre>
</BaseLayout>
