@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  box-shadow:
    0px 0px 0px 1px rgba(165, 165, 165, 0.04),
    -9px 9px 9px -0.5px rgba(0, 0, 0, 0.04),
    -18px 18px 18px -1.5px rgba(0, 0, 0, 0.08),
    -37px 37px 37px -3px rgba(0, 0, 0, 0.16),
    -75px 75px 75px -6px rgba(0, 0, 0, 0.24),
    -150px 150px 150px -12px rgba(0, 0, 0, 0.48);
}

.grid-pattern {
  background-size: 5vh 5vh;
  background-image: linear-gradient(to right, #444444 2px, transparent 2px), linear-gradient(to bottom, #444444 2px, transparent 2px);
  background-position: center;
}

.bg-radial {
  background: #5d5d5d;
  background: linear-gradient(225deg, #5d5d5d, #3d3d3d);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #444444;
  border-radius: 10px;
}

::-moz-selection {
  /* Code for Firefox */
  color: #ffffffb3;
  background: #4444444d;
}

::selection {
  color: #ffffffb3;
  background: #4444444d;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 1.5rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}
