---

---

<header class="relative flex items-center justify-between px-4 py-3 cursor-default">
  <div class="absolute lg:flex items-center top-1/2 -translate-y-1/2 group hidden">
    <button class="h-6 w-6 rounded-full grid place-items-center" aria-label="Close">
      <div class="h-3 w-3 rounded-full bg-[#898989] group-hover:bg-[#FF6057] transition-colors"></div>
    </button>
    <button class="h-6 w-6 rounded-full grid place-items-center" aria-label="Minimize">
      <div class="h-3 w-3 rounded-full bg-[#898989] group-hover:bg-[#FEBC2D] transition-colors"></div>
    </button>
    <button class="h-6 w-6 rounded-full grid place-items-center" aria-label="Maximize">
      <div class="h-3 w-3 rounded-full bg-[#898989] group-hover:bg-[#2BC840] transition-colors"></div>
    </button>
  </div>
  <p class="mx-auto select-none font-semibold not-sr-only hidden lg:block">iTerm</p>
  <p class="mx-auto select-none font-semibold not-sr-only lg:hidden block">Wiscaksono</p>
</header>
