@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors;
  }
}

* {
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e7e7e7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}

.dot-gothic {
  font-family: "DotGothic16", sans-serif;
}

.writing-mode-tb {
  writing-mode: tb;
}

.writing-mode-tb-nav {
  writing-mode: tb;
  rotate: -180deg;
}

@media (max-width: 768px) {
  .writing-mode-tb-nav {
    writing-mode: unset;
    rotate: unset;
  }
}
